<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorApp1Assemply</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
     
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="VendorForm">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> VendorForm
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Vendor">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Vendor
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ControleTable">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> ContorleTable
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="customer">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> customer
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="add-customer">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> add-customer
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="customer-list">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> customer-list
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="LoginUser">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> LoginUser
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ShopsWithImages">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> ShopsWithImages
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="LoginCustomer">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> LoginCustomer
            </NavLink>
        </div>
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
